@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: white;
  --foreground: #333333;
  --foreground-light: hsl(236, 9%, 61%);
  --foreground-dark: hsl(235, 19%, 35%);
}

[data-theme="dark"] {
  --background: #181818;
  --foreground: #e0e0e0;
}

.dark {
  --background: #181818;
  --foreground: #e0e0e0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 18px;
  font-weight: 400;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: url("/synebo-todo/bg-mobile-light.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mobile background */
@media (min-width: 768px) {
  main {
    background-image: url("/synebo-todo/bg-desktop-light.jpg");
  }
}

/* default bg class */
.bg {
  background-color: var(--background);
}

/* disable input's default focus outline */
input {
  background-color: transparent;
}
input:focus {
  outline: none !important;
}

/* all/active/completed active btn color */
.selected-sorting {
  color: #3a7bfd;
}

/* color classes */
.sorting-btn {
  color: var(--foreground-light);
}
.sorting-btn:hover {
  color: var(--foreground-dark);
}
