@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: white;
  --foreground: #333333;
}

[data-theme="dark"] {
  --background: #181818;
  --foreground: #e0e0e0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 18px;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("/bg-mobile-light.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  main {
    background-image: url("/bg-desktop-light.jpg");
  }
}

/* default bg class */
.bg {
  background-color: var(--background);
}

/* disable input's default focus outline */
input {
  background-color: transparent;
}
input:focus {
  outline: none !important;
}
